<h2>List book works Basic Request</h2>
<button type="button" (click)="makeRequest()">Make Request</button>
<div *ngIf="loading">loading...</div>
<pre>{{result | json}}</pre>

<div *ngIf="result">
    <div *ngIf="!result.length">
        No books were found
    </div>
    <div *ngIf="result.length">
        <h1>Results</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let b of result">
                <div class="thumbnail">
                    <div class="content">
                        <div class="caption">
                            <p>
                                <a [routerLink]="['/book', b.id]">
                            {{ b.title }}
                            </a>
                            </p>
                            <p>
                                {{ b.price }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>